
:root {
    --corDeFundoPadrao: #000000;
    --corDeTextoPadrao: #ffffff;
    --validacaoErrada: #c70a23;
    --validacaoCorreta: #07e76c;

    overflow: auto;
    scrollbar-width: none;
}
    
.corpoPrincipal {
    background-color: var(--corDeFundoPadrao);
}

.container {

}

.secaoIndex {

}





.sideBar {
    background-color: var(--validacaoCorreta);
    width: 150px;
    height: 100vh;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: fixed;
}

.sideBar .container {
    display: flex;
    font-weight: bolder;
    font-size: 12px;
}

.sideBar a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 25px;
    margin: 60px 0;

    transform: scale(1);
    transition: transform 0.6s ease;
}

.sideBar a:hover {
    transform: scale(1.70);
}