
/* Fonte 'Lexend' do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

/* Biblioteca para os icones do site */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

/* Variaveis universais para o site */
:root {
    --corDeFundoPadrao: #000000;
    --corDeTextoPadrao: #ffffff;
    --corDecoracao1: #c9041f;
    
    scrollbar-width: none;
}





/* CLASSES E CONFIGURAÇÕES COMPARTILHADAS ENTRE AS PÁGINAS HTML */
/* Classe para configurações mais gerais do body */
body {
  overflow: none;
}
.corpoPrincipal {
    background-image: url(../css/imagensBG/homeBG.png);
    background-size: initial;
    background-position: center top;
    background-color: var(--corDecoracao1);
    
    font-family: 'Lexend', sans-serif;
    color: var(--corDeTextoPadrao);
    margin: 0;
    padding: 0;
}





/* Configurações da sidebar */
.sideBar {
    background-color: var(--corDecoracao1);
    width: 150px;
    height: 100vh;
    margin: 10px;
    border-radius: 15px 15px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: fixed;
    overflow: hidden;
    z-index: 1;
}
.sideBar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-image: url('../css/imagensOverlay/sidebarOverlay.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: -1;
    transform: translateY(0);
    transition: transform 0.1s linear;
}
.sideBar .container {
    display: flex;
    font-weight: bolder;
    font-size: 12px;
}
.sideBar a {
    text-decoration: none;
    color: var(--corDeTextoPadrao);
    font-weight: normal;
    font-size: 25px;
    margin: 60px 0;

    transform: scale(1);
    transition: transform 0.4s ease;
}
.sideBar a:hover {
    transform: scale(1.70);
}



/* Barra rolante no fundo da pagina */
.barraRolante {
  position: fixed;
  bottom: 30px;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: var(--corDeFundoPadrao);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 9999;
}
.barraRolante span {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 1.2px;
  
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
    
  color: var(--corDeTextoPadrao);
  cursor: default;
    
  animation: rolarTexto 6s linear infinite;
}
#spanFlavorText {
  transition: opacity 0.5s ease;
  opacity: 1;
}
@keyframes rolarTexto {
  0% { transform: translateX(0);
  }
  100% { transform: translateX(-100%); }
}





/* CLASSES E CONFIGURAÇÕES PARA A PÁGINA INDEX */
/* Slideshow para o contexto no index */
#secaoContexto {
    margin-left: 450px;
    padding: 30px;
    min-height: 100vh;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.slideshowCaixa {
    background-image: url(../css/imagensOverlay/contextoOverlay.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    background-color:var(--corDecoracao1);
    
    justify-content: center;
    max-width: 650px;
    min-height: 300px;
    padding: 10px 30px;
    border-radius: 20px;
}
.slideshowTexto {
    opacity: 0;
    transform: translateX(30px);
    transition: opacity 0.2s ease, transform 0.2s ease;
    position: absolute;
    pointer-events: none;

    font-size: 20px;
    font-weight: 400;
    max-width: 700px;
    line-height: 1.6;
    text-align: justify;
}
.slideshowTexto.ativo {
    opacity: 1;
    transform: translateX(0);
    position: relative;
    pointer-events: auto;
}
.slideshowBotao {
    background: none;
    border: none;
    font-size: 30px;
    color: var(--corDeTextoPadrao);
    cursor: pointer;
    z-index: 2;
    padding: 10px;
    transition: transform 0.2s ease;
}
.slideshowBotao:hover {
    transform: scale(1.2);
}
.slideshowBotao.esquerda {
    position: absolute;
    left: -40px;
}
.slideshowBotao.direita {
    position: absolute;
    right: -40px;
}